*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
h2{
  margin-bottom: 2rem;
}
h3{
color: #2C5364;
}
ul{
  color: #e3cd51;
}

a {
  text-decoration: unset;
}
p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color:slategray;
}
.sidebar-title-address{
  color: white;
}
.sidebar-plug-p {
  margin-top: 5px;
  font-size: 0.9rem;
  padding: 0.2rem 0;
  color: white;
}
span{
  color: white;
  font-size: 1rem;
  padding: 2rem;
}

button
 {
  color: white;
  outline: none;
  padding: 2rem;
  font-size: 1rem;
  border: transparent;
  background: none;
  cursor: pointer;
}

button:hover {
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background-color: #2C5364;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

input[type="submit"]{
  outline: none;
  font-size: 1rem;
  border: transparent;
  background: none;
  cursor: pointer;
}

/* 🔥 NAV MENUE STYLE */
.NavbarItems {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  padding: 0 2rem;
  font-size: 1.5rem;
  color: floralwhite;
  cursor: pointer;
}

.nav-menu {
  padding: 0 1rem;
}

/* 🔥 FORM STYLE */
.form-decoration{
position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    outline: black 2px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}
.background-decoration{
position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  min-width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 40px;
}
.form label,
.form input {
  display: block;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.4rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  background-color: #f0f0f0;
  font-size: 1rem;
}
.form input:focus {
  border: 1px solid #50a4e9;
  outline: none;
}
.form input[type="submit"] {
  padding: 0.8rem 4rem;
  border-radius: 4px;
  background-color: #2C5364;
  font-size: 1rem;
  color: white;
}

/* 🔥 SIDE BAR STYLE */
.sidebar {
  cursor: default;
  color: white;
  background-color: #0F2027;
  position: relative;
  width: 22rem;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.heading {
  height: 21%;
}
.heading img{
  height: 100%;
}
.btn button:hover {
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background-color: #2C5364;
  transition: all 0.2s ease-out;
}
.btn button {
  position: absolute;
  top: 12%;
  left: 75%;
  background: teal;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}


.sidebar-title {
  padding: 5%;
  overflow: hidden;
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
.sidebar-title h3{
  font-size: 1.26em;
  color: white;
  font-weight: bold;
}
.sidebar-title p, ul{
font-size: 1rem;
padding: 0.2rem 0;
}
.sidebar-capacity{
color: rgb(0, 189, 193);
  font-weight: bold;
}
.sidebar-information {
  font-size: 1rem;
  color: #0F2027;
  background-color: white;
  padding: 5%;
}
.sidebar-information p{
  color: #0F2027;
  margin-top: 5px;
  font-size: 0.9rem;
  padding: 0.2rem 0;

}

.sidebar-plugs{ 
  font-size: 1rem;
  padding: 5%;
  border-top: solid #cbdce4 1px;
}

.sidebar-plugs h3{
  color: white;
  margin-bottom: 1rem;
}

.sidebar-plugs ul
{
  font-weight: bold;
  font-size: 0.9rem;
  margin: 1em 0em;
color:white ;
}

.popup-btn button{
display: none;
}
.popup-info{
cursor: pointer;
}

.marker-btn {
  cursor: pointer;
}

.marker-btn img {
  width: 60px;
  height: 60px;
}
